
body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.App {
  text-align: center;

  height: 100vh;
  width: 100%;
  /* background: gray; */
  /* border: 5px solid red; */
  /* overflow: hidden; */
  position: relative;
  
}


.sender{
  height: 62px;
  width: 100%;
  background: #f0f2f5;
  padding:8px 20px 8px 20px;
  position:absolute;
  top:90.5%;

}
.header{
  height: 50px;
  width: 100%;
  background: #f0f2f5;
  padding:8px 20px 8px 20px;
}

.headerPicon{
text-align: left;
color: #5d5959;

}



.inputofsender{
  width: 70%;
  border: none;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
  padding-right: 40px;

}



.msgContent{
width: 80%;
/* border: 2px solid green; */
height:100%;
overflow-y:auto ;
}

.msgDivContainersend{
width:100%;
height: auto;
padding: 4px 0px 4px 0px;
display: flex;
justify-content: end;
}
.msgDivContainerreceive{
  width:100%;
  height: auto;
  padding: 4px 0px 4px 0px;
  display: flex;
  justify-content: left;
  }

.msgSpanContainersend{
width: 70%;
height: auto;
display: flex;
    justify-content: end;
}
.msgSpanContainerreceive{
  width: 70%;
  height: auto;
 
  }


.spansend{
  background: #9797d866;
    padding: 3px;
    border-radius: 5px;
    font-size: 12px;
    width: fit-content;
}

.spanrec{
  background: #cae6bc;
    padding: 3px;
    border-radius: 5px;
    font-size: 12px;
    width: fit-content;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
